{% extends "base.html" %}

{% block content %}
    <h1>TitleWave</h1>
    <p>
    	TitleWave is a Chrome extension that helps people choose better titles for their Stack Overflow questions.<br>
        It was built in four weeks as part of the Insight Data Science Fellowship program.<br>
        See the github page: https://github.com/tennessejoyce/Stack-Exchange-Title-Generator.<br>
        I use Natural Language Processing (NLP) techniques to both evaluate titles, and to suggest<br>
        new titles given the text of the question. Specifically, I trained two deep neural networks<br>
        with BERT and T5 architectures on hundreds of thousands of Stack Overflow questions.<br>
		<br>
        ---Tennesse Joyce
    </p>
{% endblock %}