{% extends "base.html" %}

{% block content %}
    <h1>Enter the title of your Stack Overflow question</h1>
    <form action='' method='post' novalidate>
        {{ form1.hidden_tag() }}
        <p>
            {{ form1.title.label }}<br>
            {{ form1.title(size=64) }}
        </p>
        <p>{{ form1.submit() }}</p>
    </form>
    <p>
    	{{ predict_line }}
    </p>
    <form action='' method='post' novalidate>
        {{ form2.hidden_tag() }}
        <p>
            {{ form2.title.label }}<br>
            {{ form2.title(size=128) }}
        </p>
        <p>{{ form2.submit() }}</p>
    </form>
{% endblock %}